<% include partials/header.ejs %>
	<h1>GreaterEnergy</h1>
	<h4>What is GreaterEnergy?</h4>
	<p> Greaterenergy in a company that specializes in utilizing all kinds of renewable energy sources, to promote sustainability and energy independence.</p>
	<% if(user) {%>
		<p> Welcome <%=user.username%>!</p>
	<% } %>
<% include partials/footer.ejs %>